.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  top: 300px;
  left: 25vw;
  width: auto;
  height: 500px;
  min-height: 500px;
}

.controlColumn {
  width: 50%;
}

.perspectiveBox {
  position: fixed;
  width: 100%;
  height: 40%;
  top: 60%;
  background-color: hsl(195, 20%, 86%);
}

@media screen and (min-width: 768px) {
  .characterWrapper {
    position: fixed;
    top: 200px;
    left: unset;
    right: 100px;
    width: auto;
    height: 1000px;
  }
}
